services:
  db:
    image: postgres:16
    container_name: school_db
    environment:
      POSTGRES_USER: eneasteles
      POSTGRES_PASSWORD: kajumi
      POSTGRES_DB: school_saas
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
